footer{
    background-color: $light-grey;
    color: black;
    display: inline-block;
    text-align: center;
    width: 100%;
   
    
    p{
     text-align: left;  
    }
    
    a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    transition: all 0.4s;
    color: #FFF;
    text-align: center;
         
}
         a:hover {
    background-color: rgb(14, 216, 214);
    border: 1px solid rgb(14, 216, 214);
}
    
    ul{
        
        text-align: right;
        padding-left: 5px;
        list-style-type:none;
        
        .link{
         
            margin-right: 10px;
        }
    }
}